$font-family: "Lato";
$font-type: Light, Regular, Bold;
$font-weight: 300, 400, 700;
$font-path: '~@/assets/fonts/';

@for $i from 1 through length($font-type) {
  $src: #{$font-path + "Lato/Lato-"}#{nth($font-type, $i)};
  @font-face {
    font-family : $font-family;
    src         : url('#{$src}.ttf');
    src         : url('#{$src}.ttf') format('truetype');
    font-style  : normal;
    font-weight : nth($font-weight, $i);
  }
}

$font-family-2: "SF-Pro";
$font-type-2: Light, Regular, Medium, Bold;
$font-weight-2: 300, 400, 500, 700;

@for $i from 1 through length($font-type-2) {
  $src: #{$font-path + "SF-Pro/SF-Pro-Display-"}#{nth($font-type-2, $i)};
  @font-face {
    font-family : $font-family-2;
    src         : url('#{$src}.otf');
    src         : url('#{$src}.otf') format('truetype');
    font-style  : normal;
    font-weight : nth($font-weight-2, $i);
  }
}

html,body { font-size: 50%; }

html, body{
	font-family: $font-family-2,Lato, Sans-serif;
	color: $v-black;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-size: 1rem;
}

a{
	color: $v-blue;
	text-decoration: none;
	outline: none;
  cursor: pointer;
  font-weight: 500;
}

p{
	margin-top: 0;
	margin-bottom: 0.7rem;
	font-weight: 500;
}

.label-form{
  display: inline-block;
  max-width: 100%;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 500;
  color: $v-black;
  font-weight: bold;
}

.label-container{
	font-weight: bold;
	font-size: 100%;
	margin-bottom: 5px;
	display: block;
}

.s-cl-g{
	color: $v-grey;
}


.s-cl-r{
	color: $v-red !important;
}
